<div
  class="min-h-screen flex flex-col items-center justify-center bg-gray-900 font-sans"
>
  <img src="assets/logo.png" alt="Logo" class="mb-8 w-40 h-40" />
  <div class="space-y-12">
    <div class="bg-gray-800 p-8 rounded-lg shadow-lg w-96 space-y-6">
      <form [formGroup]="form">
        <div class="flex space-x-4 mb-4">
          <label class="flex items-center">
            <input
              type="radio"
              formControlName="bank"
              value="ATM"
              class="form-radio text-blue-600"
            />
            <span class="ml-2 text-white">🏧 ATM</span>
          </label>
          <label class="flex items-center">
            <input
              type="radio"
              formControlName="bank"
              value="Fleeca"
              class="form-radio text-blue-600"
            />
            <span class="ml-2 text-white">🏦 Fleeca</span>
          </label>
          <label class="flex items-center">
            <input
              type="radio"
              formControlName="bank"
              value="Pacific"
              class="form-radio text-blue-600"
            />
            <span class="ml-2 text-white">🏙️ Pacific</span>
          </label>
        </div>

        <div class="relative mb-4">
          <input
            type="number"
            formControlName="amount"
            placeholder="💰 Quel est le montant actuel"
            class="w-full p-2 border rounded-md"
          />
          <div
            *ngIf="form.get('amount')?.invalid && form.get('amount')?.touched"
            class="text-red-500 text-xs mt-1 truncate w-full"
          >
            {{ amountError }}
          </div>
        </div>

        <div class="w-full flex justify-center space-x-4 mb-4">
          <label
            class="flex items-center space-x-2 border p-2 rounded-lg hover:bg-blue-100"
          >
            <input
              type="checkbox"
              formControlName="smallBags"
              class="form-checkbox text-blue-600 h-5 w-5"
            />
            <span class="text-white">🛍️ Petit sacs</span>
          </label>

          <label
            class="flex items-center space-x-2 border p-2 rounded-lg hover:bg-blue-100"
          >
            <input
              type="checkbox"
              formControlName="mediumBags"
              class="form-checkbox text-blue-600 h-5 w-5"
            />
            <span class="text-white">👜 Moyen sacs</span>
          </label>
        </div>
        <div class="w-full flex justify-center mt-1">
          <div
            *ngIf="form.hasError('noBagsSelected')"
            class="text-red-500 text-xs"
          >
            Vous devez sélectionner au moins une option entre Petit sacs et
            Moyen sacs.
          </div>
        </div>

        <div class="flex items-center mb-4">
          <input
            id="isPsychoCheckbox"
            type="checkbox"
            formControlName="isPsycho"
            class="form-checkbox text-blue-600"
          />
          <label for="isPsychoCheckbox" class="ml-2 text-white">
            🔧 Souhaitez-vous ajuster la somme pour atteindre le montant exact?
          </label>
        </div>

        <div class="relative mb-4" *ngIf="form.get('isPsycho')?.value">
          <input
            type="number"
            formControlName="psychoValue"
            placeholder="📉 Combien voulez-vous retirer au maximum?"
            class="w-full p-2 border rounded-md"
          />
          <div
            *ngIf="
              form.get('psychoValue')?.invalid &&
              form.get('psychoValue')?.touched
            "
            class="text-red-500 text-xs mt-1 truncate w-full"
          >
            {{ psychoValueError }}
          </div>
        </div>
      </form>
    </div>

    <div
      class="bg-gray-800 p-8 rounded-lg shadow-lg w-96 space-y-2"
      *ngIf="result"
    >
      <p class="text-white text-sm">
        🛍️ Nombre de petit sacs utilisés :
        <span class="font-medium">{{ result.small }}</span>
      </p>
      <p class="text-white text-sm">
        👜 Nombre de moyen sacs utilisés :
        <span class="font-medium">{{ result.medium }}</span>
      </p>
      <p class="text-white text-sm" *ngIf="form.get('isPsycho')?.value">
        ✂️ Montant à retirer de l'input pour avoir exactement le maximum :
        <span class="font-medium">{{
          result.removalAmount | numberFormat
        }}</span>
      </p>
      <p class="text-white text-sm">
        💸 Montant final dans le {{ form.get("bank")?.value }} :
        <span class="font-medium">{{ result.finalAmount | numberFormat }}</span>
      </p>
    </div>
  </div>

  <div
    class="absolute bottom-4 right-4 text-white text-xs opacity-70 hover:opacity-100 transition-opacity duration-300"
  >
    Fait avec ❤️ par Jax 'Azylium' Wilson
  </div>
</div>
